.main-page{
    text-align: center;
    margin-top: 100px;
}

.title {
    line-height: 1em;
    font-size: 3.5em !important;
    font-family: 'Shrikhand', cursive;
    word-wrap: normal;
    color: #3b4ba8;
}

button {
    width: 125px;
    height: 50px;
}

